.card {
    background-color:#ecefee;
    text-align: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 3vh 2.5vh;

  }
  body{
    font-family: 'Mukta', sans-serif;
  }
p{
  margin: 10px;
  font-size: 20px
}
img{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.by{
  text-align: right;
  margin-right: 20px;
}
h2{
  margin: 25px 0 0 0;
  color: #e63946;
}